<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head ('글상세')"></head>
<body class="text-center d-flex flex-column h-100">
    <header th:replace="layout/header :: header"></header>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" th:text="${board.id}" id="id"></th>
            <td th:text="${board.user.username}"></td>
            <td th:text="${board.count}"></td>
        </tr>
        </tbody>
    </table>

    <main class="form-signin" style="max-width: 100%;">

        <div class="container">
            <div class="page-header">
                <h1>게시글 상세 조회</h1>
            </div>
            <br>
            <table class="table">
                <tr>
                    <th style="padding:13px 0 0 15px;">작성일</th>
                    <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}" class="col-md-1 form-control input-sm"></td>
                </tr>
                <tr>
                    <th style="padding:13px 0 0 15px;">제목</th>
                    <td class="col-md-1 form-control input-sm" th:text="${board.title}"></td>
                </tr>
                <tr>
                    <th style="padding:13px 0 0 15px;">내용</th>
                    <td class="col-md-1 form-control input-sm" style="height: 200px;" th:text="${board.content}">
                        <span class="help-block"></span>
                    </td>
                </tr>
            </table>

            <div class="list-inline">
                <div class="text-lg-start">
                    <a th:href="@{/}" class="btn btn-secondary">목록으로</a>
                </div>
                <div class="gap-2 d-md-flex justify-content-md-end"
                     th:if="${board.user.id == #authentication.principal.id}">
                    <a th:href="@{/board/{id}/update(id=${board.id})}" class="btn btn-warning" id="btn-update">수정</a>
                    <button type="button" class="w-20 btn btn-danger" id="btn-delete">삭제</button>
                </div>
            </div>

            <!-- comment -->
            <div class="card mb-2 mt-5" style="max-width: 800px;">
                <div class="card-header bg-light">
                    <i class="fa fa-comment fa"></i> 댓글
                </div>
                <form>
                    <div class="card-body">
                        <input type="hidden" id="boardId" th:value="${board.id}">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <textarea class="form-control" id="reply-content" rows="1"></textarea>
                                <button class="btn btn-dark mt-3" type="button" id="reply-btn-save">등록</button>
                            </li>
                        </ul>
                    </div>
                </form>

                <br>

                <div class="card">
                    <div class="card-header">댓글</div>
                    <ul class="list-group" id="reply--box" th:each="reply : ${board.replyList}">
                        <li th:id="'reply--' + ${reply.id}" class="list-group-item d-flex justify-content-between">
                            <span class="text-monospace mr-1">작성자: </span>
                            <div class="text-monospace" th:text="${reply.user.username}" style="margin-left:10px;"> &nbsp;</div>
                            <div th:text="${reply.content}"></div>
                            <div class="d-flex">
                                <span th:if="${reply.user.id == #authentication.principal.id}">
    <!--                                <button id="reply-btn-update" class="badge btn-warning">수정</button><span> | </span>-->
                                    <button th:onclick="|replyIndex.replyDelete('${board.id}', '${reply.id}')|" class="badge btn-danger">삭제</button>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="layout/footer :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:src="@{/js/board.js}"></script>
    <script th:src="@{/js/reply.js}"></script>
</body>
</html>